#sidebar {
    background-color: #283618;
    width: 220px;
    min-height: 100vh;
    padding: 10px;
}

#profile-img {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    border-radius: 50%;
}

.sidebar-item {
    font-size: small;
}